/** Breakpoints **/

$break-desktop: 1200px;

.gap-32 {
    gap: 32px
}

.flex-list{
    padding: 0;
    margin: 0;
    @extend .d-flex;
    @extend .gap-32;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 64px;
}

.container {
    max-width: $break-desktop;
    @extend .center; 
    @extend .d-flex;
}

.left {
    max-width: 100%;
    .text-content{
        .titles{
            margin-bottom: 20px;
        }
    }
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.mb-64{
    margin-bottom: 64px;
}

.last-jobs {
    box-sizing: border-box;
    max-width: $break-desktop;
} 

.job-list{
    margin: 0;
    padding: 0;
    @extend .space-between;
    li{
        width: 170px;
        height: 60px;
        box-sizing: border-box;
    }
}

/** Layout tipografia **/

.heading {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 100%;
}

.heading-1 {
    @extend .heading;
}

.heading-2 {
    @extend .heading;
}

.body {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 160%;
}

.body-1 {
    @extend .body;
}

.body-2 {
    @extend .body;
}