
$break-mobile: 768px;

@media (max-width: $break-mobile) {

    body {
        margin: 0 0 72px 0;
    }

    .header{
        .container{
            padding-left: 24px;
            padding-right: 24px;
            .menu-navegacao {
                display: none;
            }
        }
    }

    .responsive-menu {
        display: flex;
    }

    .container{
        max-width: 100%;
    }

    .personal-section {
        flex-direction: column-reverse;
        .left {
            width: 350px;
        }
    }

    .last-jobs {
        max-width: 350px;
        justify-content: flex-start;
    }

    .job-list{
        overflow-x: auto;
        gap: 24px;
        li {
            min-width: 160px;
        }
    }

}
