@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/** Especificando as fontes **/
/** Especificando cores **/
body {
  background-color: #080808;
  font-family: "IBM Plex Mono", monospace;
  color: #9C9C9C;
}

.header .container {
  box-sizing: border-box;
  background-color: #1B1B1B;
  height: 74px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.responsive-menu {
  display: none;
  gap: 16px;
}
.responsive-menu .menu-button {
  border: none;
  background: none;
  font-size: 20px;
  color: #9C9C9C;
}

.menu-social a {
  color: #9C9C9C;
  font-size: 20px;
}

.left {
  width: 568px;
}
.left button {
  padding-left: 64px;
  padding-right: 64px;
  height: 64px;
  max-width: 360px;
  background-color: #3F8E00;
  box-sizing: border-box;
  border: 2px solid #62BA1B;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 30px rgba(63, 142, 0, 0.5019607843);
  transition: transform 0.1s ease;
}
.left button:active {
  transform: scale(0.95);
}

.right {
  margin: 0;
}
.right img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  object-fit: cover;
}

.unstyled-list {
  list-style: none;
}

.unstyled-link {
  text-decoration: none;
}

.job-list li {
  border: 2px solid #1B1B1B;
  border-radius: 4px;
}

/** Estilo tipografia **/
.heading, .heading-2, .heading-1 {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
}

.heading-1 {
  font-size: 44px;
  font-weight: 800;
}

.heading-2 {
  font-size: 24px;
  font-weight: 200;
}

.body-1 {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
}

.body-2, .menu-navegacao a {
  font-size: 14px;
  color: #9C9C9C;
  font-weight: 400;
}

/** Breakpoints **/
.gap-32, .flex-list {
  gap: 32px;
}

.flex-list {
  padding: 0;
  margin: 0;
}

.center, .container {
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 64px;
}

.container {
  max-width: 1200px;
}

.left {
  max-width: 100%;
}
.left .text-content .titles {
  margin-bottom: 20px;
}

.d-flex, .flex-list, .container {
  display: flex;
}

.space-between, .job-list {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.mb-64 {
  margin-bottom: 64px;
}

.last-jobs {
  box-sizing: border-box;
  max-width: 1200px;
}

.job-list {
  margin: 0;
  padding: 0;
}
.job-list li {
  width: 170px;
  height: 60px;
  box-sizing: border-box;
}

/** Layout tipografia **/
.heading, .heading-2, .heading-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 100%;
}

.body, .body-2, .body-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 160%;
}

@media (max-width: 768px) {
  body {
    margin: 0 0 72px 0;
  }
  .header .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header .container .menu-navegacao {
    display: none;
  }
  .responsive-menu {
    display: flex;
  }
  .container {
    max-width: 100%;
  }
  .personal-section {
    flex-direction: column-reverse;
  }
  .personal-section .left {
    width: 350px;
  }
  .last-jobs {
    max-width: 350px;
    justify-content: flex-start;
  }
  .job-list {
    overflow-x: auto;
    gap: 24px;
  }
  .job-list li {
    min-width: 160px;
  }
}

/*# sourceMappingURL=style.css.map */
